/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

:root{
    --default-color: #479025;
    --body-font-color: gray;
    --login-backgroundColor: #e5e5e5;
    --login-buttonColor: #343a40;
    --dashboard-content-color: #f7f7f7;
    --card-green: #00b26f;
    --card-orange: #ff8300;
    --card-blue: #00b5e9;
    --card-red: #fa4251;
    --button-color: #63c76a;
}

body{
    color: #393939;
}

.full-content-section{
    background-color: var(--dashboard-content-color);
}
.display-name{
    margin-top: 80px;
}

.card1{
    background-color: var(--card-green);
    color: #fff;
    border: 0;
    /* padding: 20px 30px;
    position: relative;
    min-height: 180px;
    overflow: hidden;
    margin-bottom: 40px; */
}
.card1 .icon{
    display: inline-block;
    position: absolute;
    bottom: -50px;
    right: -7px;
}
.card1 .icon i{
    font-size: 180px;
    color: #808080;
    opacity: .2;
    line-height: 1;
    vertical-align: baseline;
}
.card2{
    background-color: var(--card-orange);
    color: #fff;
    border: 0;
}
.card3{
    background-color: var(--card-blue);
    color: #fff;
    border: 0;
}
.card4{
    background-color: var(--card-red);
    color: #fff;
    border: 0;
}
.farmbutton a{
    background-color: var(--button-color);
    border-color: var(--button-color);
    font-weight: 400;
    font-size: 14px;
    padding: 0 40px;
}
.farmbutton i{
    font-size: 14px;
}