/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

:root{
    --default-color: #479025;
    --body-font-color: gray;
    --login-backgroundColor: #e5e5e5;
    --login-buttonColor: #343a40;
    --dashboard-content-color: #f7f7f7;
    --card-green: #00b26f;
    --card-orange: #ff8300;
    --card-blue: #00b5e9;
    --card-red: #fa4251;
}

body{
    color: #393939;
}

.full-content-section{
    background-color: var(--dashboard-content-color);
}
.display-name{
    margin-top: 80px;
}